# IDEs and VCS
.DS_Store
.git/
.gitignore
.idea/
.vscode/

# python env
venv/
*.egg-info/
**/__pycache__/
build/

# development files
copy_slowly.sh
image_builder.sh
runner.sh
samples/
watch_folder/

# outputs
output.json
output/

# parts of pipeline not in this docker image
billingest/
